/* Adjust the overall grid spacing */
/*
.md-grid {
    max-width: 9rem; /* Remove max-width constraint if needed */
}
*/


/*
Add padding to the content wrapper
.md-content__inner {
    padding-left: 10rem;
    padding-right: 2rem;
}
*/
